# Virtual environment files
bin/
lib/
include/
pyvenv.cfg
CACHEDIR.TAG

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Django
db.sqlite3
*.log

# macOS
.DS_Store

# VSCode
.vscode/

# Environment variables
.env
